:root {
  --color-font: #ffffff;
  --color-main: #3949ab;
  --color-sub: #00227a;
  --fontSize-Large: 50px;
}

* {
  color: var(--color-font);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}

body {
  background: var(--color-font);
  color: var(--color-main);
}

#wrapper {
  width: 100%;
  height: 100%;
}

#body {
  width: 100%;
  height: 100%;
  display: flex;
}

#header {
  background: var(--color-sub);
  width: 100%;
  height: 120px;
  line-height: 120px;
  text-align: center;
}

#header > span {
  padding: 30px 0 30px 0;
  font-size: var(--fontSize-Large);
  font-weight: 600;
}

.loginInfo {
	position: absolute;
	height: 30px;
	top: 85px;
	right: 5%;
	display: flex;
}

.joinBtn {
	font-Weight: bold;
	padding-right: 10px;
}

.loginBtn {
	font-Weight: bold;
}

.welcomMsg {
	padding-right: 20px;
}

#nav {
  width: 15%;
  height: 800px;
  background: var(--color-main);
  color: var(--color-font);
}

#menu {
  font-size: 30px;
  text-align: center;
}

#menu > li {
  padding-top: 10px;
}

#menu > li > a {
  transition: transform 200ms ease-in;
}

#menu > li > a:hover {
  transform: scale(1.1);
  color: white;
}


#content {
  width: 85%;
  height: 800px;
  min-height: 800px;
  background: #181818;
}

.form {
	padding-top: 30px;
}

.joinForm {
	display: flex;
	flex-direction: column;
}

.idcheckMsg,
.nickcheckMsg,
.emailchecker {
	color: white;
}


.joinBtnBox {
	padding-top: 20px;
	text-align: center;
}

#footer {
  width: 100%;
  height: 120px;
  background: var(--color-sub);
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

@media screen and (max-width: 1080px) {
	#body {
		display: flex;
		flex-direction: column;
	}
	
	#content {
		width: 100%;
	}
	
	#nav {
		width: 100%;
		display: flex;
		height: 100%;
	}
	
	#menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex: 1;
		font-size: 20px;
	}
	
	#menu > li {
		padding: 0;
	}
}

